::selection {
  background: #dd9a84;
}
::-moz-selection {
  background: #dd9a84;
}

body {
	font: 10pt sans;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

#mynetwork {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#input {
	height: 100%;
	background: #f2df81;
	padding: 20px;
	width: 30%;
	min-width: 300px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 2.3em;
	overflow: hidden;
	color: #4b3029;
	overflow-y: auto;
	box-sizing: border-box;
}

#input h1 {
	font-weight: 700;
	font-size: 1.5em;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-height: 200px;
}

#input img {
	width: 50%;
	display: block;
	margin: 30px auto;
}

#container {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
  	align-items: center;
  	margin: 15px 0;
}

#container input {
	background: #f2df81;
	border: solid 4px #4b3029;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1em;
	color: #4b3029;
}

.edgeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #f2df81;
    border: solid 4px #4b3029;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-sizing: border-box;
}

.edgeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    background: #d07d62;
    cursor: pointer;
}

.edgeSlider::-moz-range-thumb {
    width: 17px;
    height: 17px;
    background: #4CAF50;
    cursor: pointer;
}

.noMargin {
	margin: 0px !important;
	padding: 0px;
}

.left {
	text-align: left;
	font-size: 0.4em;
	width: 50%;
}

.right {
	text-align: right;
	font-size: 0.4em;
	width: 50%;
}

#container label {
	flex: 1;
	line-height: 100%;
}

#nodeCount {
	width: 50%;
	margin-right: 10px;
	flex: 1;
}

#message {
	color: red;
	max-width:600px;
	font-size:16px;
	cursor:pointer;
	text-decoration: underline;
}

#colorsUsed {
	display: none;
}

#colorForm {
	display: none;
}

#time {
	display: none;
}

p {
	margin: 0;
}
