::selection {
  background: #dd9a84; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #dd9a84; /* Gecko Browsers */
}

body {
	font: 10pt sans;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

#mynetwork {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#input {
	height: 100%;
	background: #f2df81;
	padding: 20px;
	width: 30%;
	min-width: 300px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 2.3em;
	overflow: hidden;
	color: #4b3029;
	overflow-y: auto;
	box-sizing: border-box;
}

#input h1 {
	font-weight: 700;
	font-size: 1.5em;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-height: 200px;
}

#input img {
	width: 50%;
	display: block;
	margin: 30px auto;
}

#container {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
  	align-items: center;
  	margin: 15px 0;
}

#container input {
	background: #f2df81;
	border: solid 4px #4b3029;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1em;
	color: #4b3029;
}

#container label {
	flex: 1;
	line-height: 100%;
}

#nodeCount {
	width: 50%;
	margin-right: 10px;
	flex: 1;
}

#message {
	color: red;
	max-width:600px;
	font-size:16px;
	cursor:pointer;
	text-decoration: underline;
}

#colorsUsed {
	display: none;
}

#colorForm {
	display: none;
}

#time {
	display: none;
}

p {
	margin: 0;
}
